<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-horizontal">

      <div class="field" class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'from-control' %>
      </div>

      <div class="field" class="form-group">
        <%= f.label :phone %><br />
        <%= f.phone_field :phone, class: 'from-control' %>
      </div>

      <div class="field" class="form-group">
        <%= f.label :address %><br />
        <%= f.text_field :address, class: 'from-control' %>
      </div>

      <div class="field" class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'from-control' %>
      </div>

      <div class="field" class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'from-control' %>
      </div>

      <div class="field" class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'from-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'fbtn btn-primary' %>
      </div>

    </div>
<% end %>

<%= render "devise/shared/links" %>
