<h1>Food Shop</h1>


<ul>
  <div class="row">
    <% @places.each do |place| %>
        <div class="col-sm-4">
          <li class="cafe-info"><h2><%= link_to place.title, show_place_path(place) %></a></h2></li>
          <li class="cafe-info"><%= place.description %></li>
          <li class="cafe-info"><%= image_tag place.image.url(:medium) %></li>
        </div>
    <% end %>
  </div>

</ul>
</div>
