<h1><%= @place.title %></h1>

<ul>
  <div class="row">
    <div class="col-sm-8">
      <% @dishes_by_place.all.each do |dish| %>
          <li><a href="#"><%= dish.title %></a></li></br>
          <li><%= dish.description %></li></br>
          <li><%= dish.price %></li></br>
          <%= link_to 'Add to cart', cart_create_path %>
      <% end %>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Cart</div>
            <div class="panel-body">
              <div class="row">
                  <div class="col-sm-9">
                    <%= %>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>

</ul>
</div>