<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Food shop', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- Pages links -->
      </ul>
      < class="navbar-nav navbar-right">
        <% if user_signed_in? %>
            <p class="navbar-text">
              Logged in as <%= current_user.name %>
            </p>
            <ul class="nav navbar-nav">
                  <% if current_user.admin? %>
                      <li><%= link_to 'Admin Panel', admin_root_path %></li>
                  <% end %>
                  <li><%= link_to 'Edit profile', edit_user_registration_path(current_user) %></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            </ul>
        <% else %>
            <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-default navbar-btn' %>
            <%= link_to 'Log in', new_user_session_path, class: 'btn btn-default navbar-btn' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>